---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        <li><a href="{{ site.baseurl }}#contact" aria-label="Contact Faisal Mabood"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        <li><a href="{{ site.baseurl }}#home" aria-label="Return to portfolio"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
